<voi-msrc-offer-list api-key="20f205d64a8da5ef7417413e332ea6e1e5bf2e0c49cf900b71c8f5e465da5ea7" api-uri="https://api-qual.migros.ch"
    sort="updated_at" env="development" mode="default" language="de" pagination-disabled="true" config='{
                    "colCount":["2","2","2","4","4"],
                    "fallbackEmptyComponent":"Es wurde kein Produkt gefunden. Bitte versuchen Sie es später noch einmal.",
                    "filterOptions":{
                        "additionalQueryParams":{
                            "limit":999
                        },
                        "region":"national"
                    },
                    "order":"asc",
                    "theme":"voi",
                    "paginationOptions":{
                        "disabled": false
                    }
                }'>
</voi-msrc-offer-list>