<voi-msrc-offer-list config='{
                    "apiKey":"20f205d64a8da5ef7417413e332ea6e1e5bf2e0c49cf900b71c8f5e465da5ea7",
                    "apiUri":"https://api-qual.migros.ch",
                    "languange":"de",
                    "colCount":["2","2","2","4","4"],
                    "mode":"default",
                    "sort":"updated_at",
                    "order":"asc",
                    "theme":"voi",
                    "filterOptions":{
                        "additionalQueryParams":{
                            "limit":999
                        },
                        "region":"national"
                    },
                    "paginationOptions":{
                        "disabled":true
                    }
                }'>
</voi-msrc-offer-list>